<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Products</title>
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
<br>
        <h1>PRODUCT LIST</h1>
		<br>
		
		<div th:if = "${size == 0}">
        <p>No Products</p>
        </div>
        
        <a th:href="@{/product/addProductForm}" class="btn btn-primary btn-sm mb-3"> Add New Product </a>
                
        <table border="1" class="table table-striped table-responsive-md" th:if = "${size > 0}">
            <thead>
                <tr>
                    <!--th>Product Index</th-->
                    <th>Product Name</th>
                    <th>Category Name</th>
                    <th>Product Description</th>
                    <th>Product Cost Price</th>
                    <th>Product Sale Price</th>
                    <th>Product Current Quantity</th>
                    <th>Product Image</th>
                    <th> Actions </th>                
 				</tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listProducts}">
                    <!--td th:text="${product.id}"></td-->
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.costPrice}"></td>
                    <td th:text="${product.salePrice}"></td>
                    <td th:text="${product.currentQuantity}"></td>
                    <td>
                    <img src="" style="height: 40px; width: 40px;" 
                    th:src = "*{'data:image/jpeg;base64,' + {product.image}}">
                    </td>
                    <td> 
                    <a th:href="@{/product/updateProductForm/{id}(id=${product.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/product/deleteProduct/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>  
        <br>
	<span th:text="${successMessage}"></span>
    <div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
      <ul th:each="data : ${bindingResult.getAllErrors()}">
        <li th:text="${data.getDefaultMessage()}"></li>
      </ul>
    </div>
    	
    	<hr>
    	
        <a th:href="@{/admin/dashboard}">BACK TO DASHBOARD</a>
    </div>
</body>
</html>