<!--login.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 th:text="LOGIN"></h3>
        <input type="text" name="email" th:placeholder="Email" Required/> <br /><br />
        <input type="password" th:placeholder="Password" name="password" Required/> <br /><br />
        <button type="Submit" th:text="LOGIN"></button>  |  <a th:href="@{|/register|}" th:text="'REGISTER'"></a><br />
        <br>
        <hr>
        <div th:if="${param.error}"><p>Invalid username or password!</p></div> <br />
    </form>
</body>
</html>